main{
  margin: auto;
  display: flex;
  position: static;
  align-content: center;
  align-items: center;
  justify-content: center;
margin-block: 100px;
  border: 1px solid;
  width: 600px;
  height: 300px;
  border-radius: 10px;
}

form{
  height: auto;
  border: 2px solid;
}

ul{
  border: 2px solid;
  height: 90px;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 10px;
  margin-inline: 15px;
}

.addComponentsBtn{
  border-radius: 5px;
  width: 90px
}

.removeComponentsBtn{
  margin-inline: 10px;
  text-align: center;
  width: 25px;
  border-radius: 30px;
}

p{
  margin: auto;
  text-align: center;
  margin-block: -25px 5px;
}